{% extends 'base.html' %}

{% block title %}Expenses{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>Enroll Student</h2>
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.fee.label(class="form-label") }}
                {{ form.fee(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.room_number.label(class="form-label") }}
                {{ form.room_number(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.picture.label(class="form-label") }}
                {{ form.picture(class="form-control") }}
            </div>
            <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
        </form>
    </div>
{% endblock %}

