{% extends 'base.html' %}

{% block title %}View Fee Records{% endblock %}

{% block content %}
<h2 class="text-center mt-5 text-secondary">{{ student.name }} - Fee Records</h2>
<div class="d-flex justify-content-center mt-3">
    <div class="card w-75">
        <div class="card-body">
            <table class="table table-striped table-hover">
                <thead class="table-primary">
                    <tr>
                        <th>Amount Paid</th>
                        <th>Date Paid</th>
                    </tr>
                </thead>
                <tbody>
                    {% for fee_record in student.fee_records %}
                    <tr>
                        <td>Rs {{ fee_record.amount }}</td>
                        <td>{{ fee_record.date_paid.strftime('%Y-%m-%d') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
